h1{
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
   text-align: center;
   background-image: linear-gradient(to right, rgb(17, 17, 165), rgb(31, 31, 85));
   background-clip: text;
   color: transparent;
}